.gpt3__possibility {
    display: flex;
    flex-direction: row;
}

.gpt3__possibility-img img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.gpt3__possibility-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.gpt3__possibility-content h2 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin-top: 2rem;

    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gpt3__possibility-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    color: #81AFDD;
    margin-top: 2rem;
}

.gpt3__possibility-content h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 2rem;

}

@media screen and (max-width: 1050px) {
    .gpt3__possibility {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gpt3__possibility-content {
        margin: 0 3rem;
        margin-top: 1.5rem;
    }

    .gpt3__possibility-img {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 780px) {

    .gpt3__possibility-content {
        margin: 0 3rem;
        margin-top: 1.5rem;
    }

    .gpt3__possibility-content h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 350px) {
    .gpt3__possibility-content h1 {
        font-size: 18px;
        line-height: normal;
    }

    .gpt3__possibility-content h2,
    .gpt3__possibility-content h3 {
        font-size: 14px;
    }

    .gpt3__possibility-content p {
        font-size: 12px;
    }
}